<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">{{username}}</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-lg-offset-4 col-sm-offset-3">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <p>Top Post This Month</p>
                    </div>
                    <div class="card-content">
                        <img [src]="topPost.pic_link">
                    </div>
                    <div class="card-footer">
                        <div class="col-sm-6">
                            <p>{{topPost.num_likes}} Likes</p>
                        </div>
                        <div class="col-sm-6">
                            <p>{{topPost.num_followers}} New Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Followers over time</h4>
                    </div>
                    <div class="ct-chart" id="followers_chart"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">Top Hashtags</p>
            </div>
            <div class="topHashTags_cards">
                <div class="col-md-2">
                </div>
                <div class="col-md-4 col-sm-6" *ngFor="let tag of topHashTags">
                    <div class="card card-stats">
                        <div class="card-header card-header-icon" data-background-color="orange">
                            <i class="material-icons">trending_up</i>
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">{{tag.hashtag}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="col-sm-6">
                                <p class="text-center">{{tag.avg_likes}} likes/post (avg)</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-center">{{tag.avg_eng_ratio}} eng.ratio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
